<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dataDirectory" value="data" />
    <add key="chekingPeriodMinutes" value="30" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime" initializeData="traceLogs.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
